body,
html {
	font-family: "Open Sans", sans-serif;
	color: whitesmoke;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
  }

.topright {
	position: absolute;
	top: 0;
	right: 20px;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Remove ugly after-pressed effect */

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

#quote-text {
	font-size: 30px;
}

#who-text {
	text-align: left;
}