body, html {
	font-family: "Open Sans", sans-serif;
}

.topright {
	position: absolute;
	top: 0;
	right: 20px;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#quote-text {
	font-size: 30px;
}

#who-text {
	text-align: right;
}